<div id="configuration-header">
  <table>
    <thead>
      <tr>
        <th class="line">Your configuration</th>
        <th class="line">Save</th>
        <th>Competitors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="line">$599.00</td>
        <td class="line">$62.00</td>
        <td>$1000.00</td>
      </tr>
      <tr>
        <td class="introductory">Introductory Offer</td>
      </tr>
    </tbody>
  </table>
</div>